@media screen and (max-width: 1920px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.col-span-6 {
		flex-basis: 50%;
	}
	.col-span-3 {
		flex-basis: 25%;
	}

	.col-span-9 {
		flex-basis: 75%;
	}
}

@media screen and (max-width: 1440px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.col-span-3 {
		flex-basis: 23%;
	}

	.col-span-6 {
		flex-basis: 50%;
	}

	.col-span-9 {
		flex-basis: 77%;
	}
	.years-row {
		max-width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1024px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.col-span-3 {
		flex-basis: 32%;
	}
	.col-span-6 {
		flex-basis: 50%;
	}

	.col-span-9 {
		flex-basis: 68%;
	}
	.years-row {
		max-width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 800px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.col-span-3 {
		flex-basis: 100%;
	}
	.col-span-6 {
		flex-basis: 100%;
	}

	.col-span-9 {
		flex-basis: 100%;
	}
	.years-row {
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.col-span-3 {
		flex-basis: 100%;
	}
	.col-span-6 {
		flex-basis: 100%;
	}

	.col-span-9 {
		flex-basis: 100%;
	}
	.years-row {
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}
