.primary-button {
	background-color: #7cba01;
	border: none;
	color: white;
	padding: 0.5rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 0.4rem;
}

.secondary-button {
	background-color: #c5e09a;
	border: none;
	color: white;
	padding: 0.5rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 0.4rem;
}
