* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: "Open Sans", sans-serif;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

header,
footer {
	h1 {
		padding-top: 0.8rem;
		padding-bottom: 0;
		padding-left: 2rem;
		padding-right: 0;
	}
}

.footer-text {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	/* padding: 1.5rem 0; */
	padding-top: 0.8rem;
	padding-bottom: 0;
	padding-left: 2rem;
	padding-right: 0;

	span {
		font-weight: 300;
	}
}

.text-mission {
	font-size: 0.79rem;
	font-weight: bold;
	margin: 0.5rem 0;
	ul {
		display: flex;
		justify-content: center;
		li {
			font-weight: 200;
		}
	}
}
